.index-hero {
    color: #fff;

    height: 100vh;
    min-height: 800px;

    background-color: #142a67;

    padding: 130px 0 95px 0;
    margin-bottom: 80px;

    position: relative;

    overflow: hidden;
    &:before {
        @media (max-width: 800px) {
            content: "";

            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            background-image: url("/templates2/assets/imgs/index-main-bg.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            opacity: 0.2;
            filter: blur(3px);
        }
    }
    @media (max-width: 800px) {
        padding: 110px 0 47px 0;

        height: calc(100vh - 50px);
    }
    @media (max-width: 600px) {
        min-height: 570px;

        margin-bottom: 30px;
        padding: 70px 0 32px 0;
    }
    h1 {
        font-weight: 600;
        font-size: 40px;
        line-height: 1.2;

        margin-bottom: 0.7em;
        @media (max-width: 800px) {
            font-size: 32px;
        }
        @media (max-width: 600px) {
            font-size: 24px;
        }
    }
    iframe,
    video {
        opacity: 0.4;

        filter: blur(3px);

        transform: scale(1.4);
        @media (max-width: 800px) {
            display: none;
        }
    }
    h1,
    p {
        max-width: 865px;
    }
    p {
        font-size: 24px;

        margin-bottom: 2em;
        @media (max-width: 800px) {
            font-size: 20px;
        }
        @media (max-width: 600px) {
            font-size: 14px;
        }
    }
    .wrap,
    .wrap > div:first-child {
        display: flex;
        flex-direction: column;
    }
    .wrap {
        position: relative;

        justify-content: space-between;

        height: 100%;
        > div {
            &:first-child {
                flex: 0 0 94%;

                align-items: flex-start;
                justify-content: center;
                @media (max-width: 600px) {
                    justify-content: flex-end;
                    flex: 0 0 70%;
                }
            }
        }
    }
}
.index-hero-block-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    @media (max-width: 600px) {
        flex: 0 0 25%;
    }
    > div {
        &:first-child {
            @media (max-width: 600px) {
                flex: 0 0 100%;
                align-self: flex-start;
            }
        }
    }
    > a {
        @media (max-width: 600px) {
            order: 1;
        }
    }
    > a,
    .index-contacts {
        @media (max-width: 600px) {
            align-self: flex-end;
        }
    }
    button,
    a {
        font-weight: bold;
        text-transform: uppercase;
        color: var(--main-color);
    }
    button {
        font-size: 11px;
        letter-spacing: 0.15em;
    }
    [href^="tel"] {
        color: #fff;
        @media (max-width: 600px) {
            margin-left: 0px;
        }
    }
}