.pagination {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    a,
    span {
        padding: 0 5px;
        font-weight: bold;
    }
    span,
    a:hover,
    a:focus {
        color: #aaaaaa;
    }
    a {
        color: #464646;
    }
}
