.dropdown-btn {
    position: relative;

    padding-right: 20px;
    &:before {
        content: '';

        position: absolute;
        right: 0;
        top: 50%;

        background-image: url("data:image/svg+xml,%3Csvg width='9' height='5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.034 4.585L.002 1.095.938-.009l3.564 3.084L8.066-.008l.936 1.102-4.031 3.49-.47.406z' fill='%23313131'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: cover;

        width: 9px;
        height: 5px;

        transform: translateY(-50%);

        transition: transform 0.3s ease-out;
    }
    span {
        border-bottom: 2px solid #c39e80;
    }
}
.dropdown {
    position: relative;
    display: inline-block;
    @media (max-width: 600px) {
        width: 100%;
    }
    &.-open {
        .dropdown-btn {
            span {
                color: #242424;
            }
            &:before {
                transform: translateY(-50%) rotate(180deg);
            }
        }
        .dropdown-content {
            display: block;
            animation: dropdownOpen 0.4s;
        }
    }
}
.dropdown-content {
    display: none;

    position: absolute;
    top: 45px;
    left: -15px;
    z-index: 101;

    min-width: 182px;

    background-color: #fff;

    border-radius: 5px;
    border: 1px solid #e0e0e0;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    @media (max-width: 600px) {
        width: 100%;

        left: 0;
    }
    li,
    a {
        color: #222;
    }
    .group-name,
    li:first-child {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 1.12px;

        padding: 9px 15px 10px 15px;
    }
    li:first-child  {
        border-bottom: 1px solid #f4f4f4;
    }
    a,
    span {
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.96px;

        display: block;

        padding: 4px 0 3px 25px;
    }
    a {
        &:hover,
        &:focus {
            background-color: #f4f4f4;
        }
    }
    @keyframes dropdownOpen {
        from {
            top: 0;
            opacity: 0;
        }
        to {
            top: 45px;
            opacity: 1;
        }
    }
}